/* Scroll Bar Master Styling Starts Here */
/* All comments can be freely removed from the css */

.scrollgeneric {
line-height: 1px;
font-size: 1px;
position: absolute;
top: 0; left: 0;
}

.vscrollerbase {
width: 5px;
background-color: rgba(255, 255, 255, 0.3);
}
.vscrollerbar {
width: 5px;
background-color: white;
}
.hscrollerbase {
width: 5px;
background-color: rgba(255, 255, 255, 0.3);
}
.hscrollerbar {
width: 5px;
background-color: white;
}

.scrollerjogbox {
width: 5px;
height: 5px;
top: auto; left: auto;
bottom: 0px; right: 0px;
background-color: gray;
}
@media print { 
.flexcrollactive, .flexcrollactive div.cont-desc  { 
height: 100%!important; width: auto!important; 
position: static!important; margin: 0!important; padding: 0!important 
} 
.scrollgeneric {display: none;} 
} 